<h1>This is the secret page</h1>
<p>You found me!</p>
<img src="https://avatars1.githubusercontent.com/u/40150972?s=460&v=4"/>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Sign In!</a></li>
<li><a href="/logout">Logout</a></li>